

body {
    background-color: #f1f1f1;
    color: #0f141e;
    
    
    font-size: 16px;
    font-weight: normal;
    font-family: Yandex-UI-Icons-Private, sans-serif;
   /* font: normal 16px Yandex-UI-Icons-Private, sans-serif;*/
}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
.ld{
    width: 400px;
    border-radius: 28px; /* 50%-для круга*/

}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none; /*underline-подчеркнутый текст  line-trough-зачеркнутый текст*/
    text-transform: none; /* uppercase-большие буквы capitalize-каждое слово с большой буквы*/
    /*letter-spacing: none;*/ /*letter-spacing-пробелы между буквами в пикселях*/
    /*word-spacing: 4px; -пробелы в пикселях между словами*/
}

.container {
    max-width: 900px; /* 75%, 50% */
    margin: auto;

}

.social {

}
