body {
    background-color: #f1f1f1;
    color: #0f141e;
    
    
    font-size: 16px;
    font-weight: normal;
    font-family: Yandex-UI-Icons-Private, sans-serif;
   /* font: normal 16px Yandex-UI-Icons-Private, sans-serif;*/
}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
.ld{
    width: 400px;
    border-radius: 28px; /* 50%-для круга*/

}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: blue;
}
a:visited {
    color: purple;
}

.info {
    margin-bottom: 20px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none; /*underline-подчеркнутый текст  line-trough-зачеркнутый текст*/
    text-transform: none; /* uppercase-большие буквы capitalize-каждое слово с большой буквы*/
    /*letter-spacing: none;*/ /*letter-spacing-пробелы между буквами в пикселях*/
    /*word-spacing: 4px; -пробелы в пикселях между словами*/
}

.container {
    max-width: 900px; /* 75%, 50% */
    margin: auto;

}

.social {
    background: Aquamarine; /*# 7FFFD4 */
    border-radius: 16px;
    padding: 15px;
    /*border: 5px solid red;*/
    /*border-bottom-style: dotted; пунктир нижней красной линии*/
    /*border-top-width: 15px; ширина верхней красной линии*/
    /*border-right-color: blue; цвет правой линии*/
    margin: 20px; /*4px w 7px d 2px s 4px a */
}

.bg-blue {
    background: #a7d4d0;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 16px;
}

.twostr {
    max-width: 100px;
    margin: auto;
}
.list {
    padding: 0 20px;
}

.list li {
    margin-bottom: 10px;
    border-bottom: 1px solid ;
}

